.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
}

.custom-modal {
  width: 50%;
}

.custom-modal.popup {
  width: 500px;
}

.custom-modal .modal-header {
  display: flex;
  justify-content: space-between;
}

.custom-modal .close-btn {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.6rem;
  color: #fff;
}

.custom-modal .modal-content {
  padding: 1.6rem;
  height: 100%;
  display: flex;
}

.custom-modal .modal-content .youtube {
  width: 100%;
  height: 100%;
}

.custom-modal .modal-content iframe {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 1440px) {
  .custom-modal {
    width: 60%;
    height: 50%;
  }
}

@media screen and (max-width: 1024px) {
  .custom-modal {
    width: 80%;
    height: 40%;
  }
}

@media screen and (max-width: 576px) {
  .custom-modal {
    width: 100%;
    height: 35%;
  }
}
